@import '../abstracts/variables';

// * Buttons 

//Buttons
$button-line: 20px;

.button {
  display: flex;
  border: 1.5px solid transparent;
  border-radius: 50px;
  padding: 15px 20px;
  padding-right: 25px;
  width: fit-content;

  background-color: $button-orange;

  img {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    //height: $button-line;
    
    
  }

  span {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height, or 147% */


    color: #161004;

    @media (min-width: $min-md) {
      font-size: 16px;
      line-height: 22px;
    }

  }

  &:hover {

    border: 1.5px solid #FFBC6C;

    img {
      transform: translate(5px);
      
    }
  }

}

.button-cta-green {
  background-color: $lightest-green !important;
  padding: 0;
  width: max-content;

  span {
    color: #208610;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &:hover {

    border: 1.5px solid transparent;

    img {
      transform: translate(5px);
      
    }
  }

}


.button-green {
  background-color: $lime-green;

  span {
    color: $darkest-green;
  }

  &:hover {
    border: 1.5px solid #90ED68;
  }
}


.button-text {
  margin-right: 8px;
  line-height: $button-line;
  
}


// Filter Button 

.filter-button {
  padding: 15px 20px;
  border: 2px solid #A4A4FF;
  border-radius: 30px;

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  max-width: auto;

  img {
    margin-right: 10px;
  }

  span {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: right;
    color: #3D3C76;
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    outline: none !important;
  }
}

// Media Sharing


.button.right-icon {

  min-width: 160px;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;


  img {
    transform: translate(0px);
    margin-right: 15px;
    
  }

}

// Button Services Page

.button.right-icon.services {

  min-width: 160px;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  background-color: $lime-green;
  
  span {
    color: $darkest-green;
  }


  img {
    transform: translate(0px);
    margin-right: 10px;
    
  }
    

  &:hover {
    border: 1.5px solid #90ED68;
  }

}

// BreadCrumb Button

.breadcrumb-button {
  background: #FFFFFF;
  opacity: 0.7;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  border: 1.5px solid transparent;
  //padding-left: 15px;

  span {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #161004;

  }

  img {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    //height: $button-line;
    margin-right: 5px;
  }

  @media (min-width:$min-md) {
    padding: 11px;
  }

  &:hover {

    border: 1.5px solid #FFBC6C;

    img {
      transform: translate(-5px);
      
    }
  }

}



// Download Button

.button-download {
  display: flex;
  border: 1.5px solid transparent;
  border-radius: 50px;
  padding: 15px 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: fit-content;
  align-items: center;
  margin-right: 7.5px;
  margin-left: 7.5px;
  margin-bottom: 15px;

  background-color: $button-orange;

  img {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;

    
    
  }

  span {
    display: inline-block;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;


    @media (min-width: $min-md) {
      font-size: 16px;
    }

  }

  &:hover {

    border: 1.5px solid #FFBC6C;

  }

}

.button-download.is--green {

  background-color: $lime-green;

  span {
    color: $darkest-green;
  }

  &:hover {
    border: 1.5px solid #90ED68;
  }

}

.button-wrapper-single {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;

  @media (min-width: $min-md) {
    flex-direction: row;
  }
}

input.tribe-button {

  display: flex !important;
  border: 1.5px solid transparent !important;
  border-radius: 50px !important;
  padding: 15px 20px !important;
  padding-top: 14px !important;
  padding-bottom: 10px !important;
  padding-right: 20px !important;
  width: fit-content !important;
  align-items: center !important;
  margin-right: 7.5px !important;
  margin-left: 7.5px !important;
  margin-bottom: 15px !important;

  background-color: $button-orange;

  font-family: Rubik !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  line-height: 26px !important;
  outline-style: none !important;

  img {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;

    
    
  }

  span {
    display: inline-block !important;



    @media (min-width: $min-md) {
      font-size: 16px;
    }

  }

  &:hover {

    border: 1.5px solid #FFBC6C !important;

  }

}


// * Seach Button

.search-button, #event-filter-controller {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid #A4A4FF;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 15px 20px 15px 48px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: right;
  color: #222258;

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  background-image: url('../images/icons/search-navy-blue.svg');
  background-position: left 20px center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  outline-style: none;

  &:hover {
    background-color: #f0f0fa !important;
  }

}

.tribe-events .tribe-events-c-top-bar__datepicker-button {
  background: #FFFFFF;
  border: 2px solid #E2E2FF;
  border-radius: 30px;
  padding: 15px 20px 15px 48px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #222258;
  

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  background-image: url('../images/icons/date-picker.svg');
  background-position: left 20px center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  outline-style: none;

  &:hover {
    background-color: #f0f0fa !important;
  }
}

#add-event-button.add-event-button {
  background: #FFFFFF;
  border: 2px solid #E2E2FF;
  border-radius: 30px;
  padding: 15px 48px 15px 20px;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  color: #222258;
  

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  background-image: url('../images/icons/add-event.svg');
  background-position: right 20px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  outline-style: none;

  &:hover {
    background-color: #f0f0fa !important;
  }
}

.event-cta-button {

    background: #FFFFFF;
    border-radius: 30px;
    padding: 15px 48px 15px 20px;
  
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #161004;
  
  
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  
    background-image: url('../images/icons/add-event.svg');
    background-position: right 20px center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    outline-style: none;
  
    &:hover {
      background-color: #f0f0fa !important;
    }
  

}

#tribe-add-recurrence, #EventImage.EventImage, .tribe-add-post.tribe-button.tribe-button-secondary, #post.tribe-button.submit.events-community-submit, .choose-file.tribe-button.tribe-button-secondary, a.tribe-button.tribe-button-secondary {
  display: inline-block;
  padding: 15px;
  background: #3D3C76;
  border-radius: 30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF !important;
  min-width: 100px;
  span {
    color: inherit !important;
  }

}