// * Filter Tab Pages

.flex-wrapper-tab {
    display: flex;
    flex-direction: row;
    width:100%;
  
    @media (min-width: $min-md) {
      width:auto;
    }
  
   
  }
  
  .filter-page-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 170px;
  
    background: #FFFBF5;
  
    border: 1.5px solid #CDCDFA;
    padding: 15px;
  
    text-align: center;
  
    &:active {
      background: #E5E5FE;
    }
  
    &:hover, .active {
      background: #E5E5FE;
    }
  
    span {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #222258;
      white-space: nowrap;
  
    }
  
  }
  
  .filter-page-tab.left-tab {
    border-radius: 15px 0px 0px 15px;
    border-right:0;
  }
  
  .filter-page-tab.right-tab {
    border-radius: 0px 15px 15px 0px;
  }
  
  .filter-page-tab.active {
    background: #E5E5FE;
  }
  
  .filter-tab-icon {
    height: 33px;
    margin-bottom: 10px;
  
    @media (min-width: $min-md) {
      height: 45px;
    }
  }
  
  // * Filter Grid
  
  .filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  
    column-gap: 10px;
    row-gap: 30px;
    align-items: start;
    // justify-items: start | end | center | stretch;
    // align-items: start | end | center | stretch;
  
    .top-left-column {
  
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: 1;
      //justify-self: start | end | center | stretch;
      // align-self: start | end | center | stretch;
      justify-self: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
  
      @media (min-width: $min-md) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
      }
  
      
    }
  
    .top-right-column {
  
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 2;
      grid-row-end: 2;
  
      @media (min-width: $min-md) {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
      }
  
    }
  
    .bottom-right-column {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 3;
      grid-row-end: 3;
      justify-self: center;
  
      @media (min-width: $min-md) {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-self: start;
      }
    }
  
  
  
  }
  
  
  //* Search and Filter
  
  $color-green: #34C37A; 
  
  $filter-things-athome-padding: 5px;
  
  // ul
  .searchandfilter ul>li>ul:not(.children) {
      //margin: 0px auto;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-inline-start: 0;
      align-items: center;
      margin-right: -$filter-things-athome-padding;
      margin-left: -$filter-things-athome-padding;
  }
  
  
  // Checkbox
  .sf-level-0 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  
  
    padding-right: $filter-things-athome-padding !important;
    padding-left: $filter-things-athome-padding !important;
    margin-right: 0 !important; 
  
  
      label {
          position: relative;
          min-height: 34px;
  
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
         
  
          margin-bottom: 0;
  
          font-weight: normal;
          cursor: pointer;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          color: #222258;
  
  
          background-position: center top;
          background-repeat: no-repeat;
          background: #F0F0FA;
          border-radius: 4px;
          padding-top: 11px !important;
          padding-bottom: 12px !important;
  
          
  
          &:before {
              content: '';
              //position: absolute;
              //left: 0;
              //top: 0;
              margin: 4px;
              width: 25px;
              height: 25px;
              transition: transform 0.28s ease;
              background-image: url('../images/icons/Rectangle radio.svg');
              background-repeat: no-repeat;
  
              //border-radius: 3px;
              //border: 2px solid $color-green;
          }
      }
      input[type="checkbox"] {
          width: auto;
          opacity: 0.00000001;
          position: absolute;
          left: 0;
          margin-left: -20px;
          &:checked ~ label{
              &:before {
                background-image: url('../images/icons/checked.svg');
                background-repeat: no-repeat;
              }
              &:after {
                 // transform: rotate(-45deg) scale(1);
              }
          }
          &:focus + label::before {
              outline: 0;
          }
      }
  }
  
  .searchandfilter ul li li, .sf-level-0 {
  
    margin-right: 20px;
  }
  
  
  .searchandfilter li[data-sf-field-input-type=checkbox] label {
    padding-left:0;
  }
  
  .searchandfilter ul {
    padding-inline-start: 0 !important;
  }
  
  .sf-field-post-meta-suitable_for {
   padding-top:0 !important;
  }
  
  // Search bar
  
  .sf-field-search label{
    width: 100%;
  
    @media (min-width:$min-md) {
      width: 70%;
    }
  
  }
  
  .sf-input-text {
    background: #FFFFFF;
    border: 2px solid #E2E2FF;
    box-sizing: border-box;
    border-radius: 29px;
    min-height: 45px;
    width: 100%;
    
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 10px;
    padding-left: 40px;
  
  }
  
  // Title H4 for filter categories
  
  .searchandfilter h4 {
   color: #161004;
   text-align: center;
   padding-top:0 !important;
  
   @media (min-width:$min-md) {
    text-align: left;
    }
  }
  
  