
 @import '../abstracts/variables';


html {
    line-height: 1.15;
  }
  body {
    color: var(--secondary);
    overflow-x: hidden;
    font-family: $open;
    font-size: 16px;
    color: $black;
    background-color: $body-yellow;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  
  }

  a {color:$black;}
  
  a {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  
    &:hover {
      text-decoration: none;
      color: inherit;
  
    }
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--gray-dark);
    margin-bottom: 20px;
    font-family: $rubik;
  }
  
  
  h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    
    color: white;
  
    @media (min-width: $min-md) {
      font-weight: bold;
      font-size: 54px;
      line-height: 64px;
      
    }
  }
  
  h2 {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    //letter-spacing: 0.07em;
    text-transform: uppercase;
    
    color: white;
  
    @media (min-width: $min-md) {
      font-size: 22px;
      line-height: 26px;
      
    }
  }
  
  h3 {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.01em;
  
  
    @media (min-width: $min-md) {
      font-size: 32px;
      line-height: 38px;
      
    }
  
  }
  
  h4 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
  
    @media (min-width: $min-md) {
      font-size: 20px;
      line-height: 135%;
      
    }
  }
  
  h5 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  
    @media (min-width: $min-md) {
      font-size: 18px;
      
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 15px;
    
    @media (min-width:$min-md) {
      font-size: 16px;
    }
}

.hours-text {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */


  color: #30240B;

  @media (min-width:$min-md) {
    font-size: 14px;
  }

}

.hero-category {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #161004;

  @media (min-width: $min-md) {
    font-size: 16px;
    line-height: 32px; 
  }
}

.suitable-for-tag-hero {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #161004;
  opacity: 0.9;

  @media (min-width: $min-md) {
    font-size: 16px;
    line-height: 32px; 
  }
}

.event-subtitle {

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #161004;
  text-transform: none;
  //letter-spacing: 0.07em;

  @media (min-width: $min-md) {
    font-size: 22px;
    line-height: 30px;
  
  }



}

.hero-date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #161004;
  opacity: 0.9;

  @media (min-width: $min-md) {
    font-size: 16px;
    line-height: 22px;
  
  }
}

.tribe-community-events input {
    box-sizing: border-box;
    font-size: 16px !important;
} 

.get-help > div > p > a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-decoration-line: underline;

  color: #30240B;

  @media (min-width: $min-md) {
    font-size: 16px;
    line-height: 24px;
  
  }
}

#tribe_events_filters_wrapper input {
  font-size: 16px !important; 
}