@import '../abstracts/variables';

.single-post-container {
    h3 {margin-bottom:35px}

    figure {
        text-align: center;
        margin-bottom: 25px;
        

        img{
            margin-right: auto;
            margin-left: auto;
            border-radius: $border-radius;
            height: 100%;
            width: 375px;
        }

    }

    p {
        text-align: left;
        iframe {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            border-radius: $border-radius;
            

            @media (max-width: $min-md) {
                width: 100%;
            }
        }
    }

    @media (min-width: $min-md) {
        p {
            text-align: center;
        }
    }
 
}