$darkest-green: #0E3512;
$dark-green: #297316;
$lime-green: #AEF09F;
$green: #D7FACE;
$lightest-green: #F1FFEC;

$dark-yellow: #9F641F;
$middle-yellow: #9D6511;
$yellow: #FFE1BE;
$button-orange: #FFD19B;
$light-yellow: #FFF6E3;
$body-yellow: #fffbf5;
$neutral-lightest: #F0F0FA;

$lightest-blue: #E5E5FE;
$footer-blue: #F0F0FA;
$navy-blue: #3D3C76;

$black: #161004;
