


//* Fonts

$rubik: 'Rubik', sans-serif;
$open: 'Open Sans', sans-serif;

// * Colors

$darkest-green: #0E3512;
$dark-green: #297316;
$lime-green: #AEF09F;
$green: #D7FACE;
$lightest-green: #F1FFEC;

$dark-yellow: #9F641F;
$middle-yellow: #9D6511;
$yellow: #FFE1BE;
$button-orange: #FFD19B;
$light-yellow: #FFF6E3;
$body-yellow: #fffbf5;
$neutral-lightest: #F0F0FA;

$lightest-blue: #E5E5FE;
$footer-blue: #F0F0FA;
$navy-blue: #3D3C76;

$black: #161004;

$green-gradient: linear-gradient(152.26deg, #D9F8B1 14.96%, rgba(255, 255, 255, 0) 90.95%), #CBFFC2;

$green-gradient-local-support: linear-gradient(180deg, #FCFFF7 29.69%, #F0FED9 100%);

$yellow-gradient: linear-gradient(180deg, #FFFBF5 29.69%, #FEEFD9 100%);

//* Colours Classes


.text-dark-yellow {color: $dark-yellow;}
.text-dark-green {color: $dark-green;}
.text-yellow {color: $yellow;}
.text-black {color: black;}
.text-middle-yellow {color: $middle-yellow;}

.bg-yellow {background-color: $yellow;}
.bg-light-yellow {background-color: $light-yellow;}
.bg-green {background-color: $green;}
.bg-green-gradient {background: $green-gradient;}
.bg-green-gradient-local-support {
    background:$green-gradient-local-support;
    border: 1px solid #DBF7C6;}
.bg-neutral-lightest {background-color: $neutral-lightest;}
.bg-lightest-green {background-color: $lightest-green;}
.bg-navy-blue {background-color: $navy-blue;}
.bg-yellow-gradient {
    background:$yellow-gradient;
    border: 1px solid #F7E1C6;
}

// * Responsiveness

$xs: 575px;
$sm: 767px;
$md: 991px;
$min-md: 992px;
$lg: 1199px;


//* Spacing

$padding-s: 30px;
$padding-xl:60px;
$padding-m: 45px;



// * Transition

$transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);
$height-transition: max-height 500ms cubic-bezier(0.22, 1, 0.36, 1);
/* 
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
*/


// * Box Shadow

$box-shadow: 0px 4px 8px rgba(83, 56, 26, 0.15);
$box-shadow-green: 0px 4px 8px rgba(37, 83, 26, 0.14);
$box-shadow-carousel: 0px 6px 8px 1px rgba(0, 0, 0, 0.06);
$box-shadow-carousel-hover: 0px 6px 10px 1px rgba(0, 0, 0, 0.12);

/*box-Shadow:  offset-x | offset-y | blur-radius | spread-radius | color */
.box-shadow {box-shadow: $box-shadow;}

// * Border Radius

$border-radius: 15px;
