@import '../../abstracts/variables';
@import '../../pages/single-post-content.scss';


//Img Container
.single-tribe_events .tribe-events-event-image {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    
}

// Img
.tribe-events-event-image img {
    border-radius: 5px;
}

.single-tribe_events .tribe-events-event-meta {
    background: inherit;
    border: none;
}

// Google Calendar Wrapper

.tribe-events-cal-links {

}

// Single Section Title 

.tribe-events-single-section-title {
    display: none;

}

// Event Meta Date 

.tribe-events-meta-group.tribe-events-meta-group-details {
 display: none;
}


// Event Venue Name

.tribe-events-address {
    padding-left: $padding-left-icon;
}

.tribe-events-meta-group-venue {

    width: 60% !important;

}


// Venue 

.tribe-venue-location {
    margin-bottom: 25px !important;
}
// Address 
.tribe-events-address {
    margin-top: -13px !important;
}

// "Get Directions"

.tribe-events-gmap {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-decoration-line: underline !important;

    color: #212152;

    margin-top: 5px;
    margin-bottom: 25px !important;
}

// Phone

.tribe-venue-tel-label {
    display: none;
}

.tribe-venue-tel {
    text-decoration-line: none !important ;
    margin-bottom: 25px !important;
}

// Website

.tribe-venue-url-label {
    display: none;
    
}

.tribe-venue-url {

    margin-bottom: 25px !important;
}


.tribe-events-meta-group dt {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #161004;
    margin-bottom: 17px;
}

// Content 

.tribe-events-single-event-description.tribe-events-content.container {
    p {
        text-align: left;
    }

    .content-title {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #161004;
        margin-bottom: 20px;
    }
    
}

// Navigation

.tribe-events-nav-pagination {
    display: none;
}

// Event Footer 

#tribe-events-footer {
     display: none;
}

.single-tribe_events .tribe-events-event-meta  {
    margin-bottom: 0 !important;
}

// Responsive

@media only screen and (max-width: 768px) {
    .tribe-events-meta-group.tribe-events-meta-group-other {
        margin-top: 25px;
    }

    .tribe-meta-value .single-info-item.tick-icon {
        margin-right: 25px;
    }
}


